<div class="ui small inverted menu ">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">Messages</a>
    <div class="right menu">
      <% unless logged_in? %>
        <div class="item">
          <%= link_to "Log in", login_path, class: "ui primary button" %>
        </div>
        <div class="item">
          <%= link_to "Sign up", signup_path, class: "ui primary button" %>
        </div>
      <% end %>
      <div class="item">
        <% if logged_in? %>
          <%= link_to "Logout", logout_path, method: :delete, class: "ui primary button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>